<script>
		 $(window).on("load",(function(){
		 $(function() {
		 $('#id-foto').change(function(e) {addImage(e);});
		function addImage(e){
			var file = e.target.files[0],
			imageType = /image.*/;
			if (!file.type.match(imageType)) return;
			var reader = new FileReader();
			reader.onload = fileOnload;
			reader.readAsDataURL(file);
		}
		function fileOnload(e) {
		var result=e.target.result;
		$('#id-out-foto').attr("src",result);
		}});}));
</script>

<div class="container">
	<h1>Nueva persona</h1>
	<a href="/">
		<button>Cancelar</button>
	</a>

	<form method="post" action="/persona/c" class="form"  enctype="multipart/form-data">
	
		Loginname (debe ser único)
		<input type="text" name="loginname" required="required">
		<br/>
		Nombre
		<input type="text" name="nombre" required="required">
		<br/>
		
	

		password
		<input type="password" name="password">
		<br/>

		Altura 
		<input type="number"  name="altura" min="1" max="400" value="1">
		<br/>
		
		fnaca
		<input type="date" value="1901-01-01"	 name="fnac" required="required" >
		<br/>
	 
		

		nace
		<select name="idPais">
			<option value=0>---</option>
			<option th:each="pais:${paises}" th:text="${pais.nombre}" th:value="${pais.id}"></option>
		</select>
		<br/>
		
		fnaca
		<input type="file" name="img"  >
        <br/>
		<input type="submit" class="form-item" />
	</form>
</div>