<div class="container">
	<h1>Editar pais</h1>
	 
	<a href="/pais/r">
		<button>Cancelar</button>
	</a>
	 	<form   action="/pais/u" method="post">
				nombre antiguo:<input th:each="pais:${paises}" type="text" name="nombreantiguo" th:value="${pais.nombre}" readonly /><br>
				nombre nuevo:<input th:each="pais:${paises}" type="text" name="nombrenuevo" />
				<input th:each="pais:${paises}" type="hidden" name="id" th:value="${pais.id}" />
					<input  type="submit" value="enviar" />
				</form>
   
	
</div>