<div class="container">
	<h1>Lista de personas</h1>
		
<div >
	<a class="col-4"  href="/pais/c">
		<button>Crear</button>
	</a> 
	
	<a href="/">
		<button>Cancelar</button>
	</a>
	
	</div>
	
	
	
	<table class="table table-striped">
		<tr>
			
			
			<th>Nombre</th>
			<th>numero habitantes</th>
			<th>acion</th>
			
			
		</tr>

		<tr th:each="pais:${paises}">
		<td th:text="${pais.nombre}"></td>
		<td th:text="${pais.nace.size()}"></td>
	
		
	
		<td>
		
		<form action="/pais/u" method="get">
					<input type="hidden" name="id" th:value="${pais.id}" />
					<button onclick="submit()">
						<img src="/img/editar.png" height="20" width="20">
					</button>
				</form>
				
				<form   th:if="${pais.nace.size()}==0" action="/pais/d" method="post">
					<input type="hidden" name="id" th:value="${pais.id}" />
					<button onclick="submit()">
						<img src="/img/basura.png" height="20" width="20">
					</button>
				</form>
		
		</td>
		
		</tr>

	</table>
</div>