<div class="container">

	<div class="col-4" th:if="${session.persona == null}">
		
		Debes hacer login para entrar
		</div>
<div class="col-4" th:if="${session.persona != null}">
	<span class="col-4" th:if="${session.persona.nombre == 'admin'}" >
		hola estas conectado como (administrador)
	</span> 
	<span class="col-4" th:if="${session.persona.nombre != 'admin'}" >
		hola estas conectado como (u.estandar)
	</span> 
		<a href="/pais/r"><button>Pais</button></a>
	<a href="/persona/r"><button>Persona</button></a>
	<a href="/categoria/r"><button>categoria</button></a>
		<a href="/producto/r"><button>producto</button></a>
		</div>


	
</div>